
    flex-grow: 1; 
    padding: 0 15px; 
    margin-bottom: 0; 
    /* KLÚČOVÁ ZMENA: Všetok text vždy zarovnaný doľava */
    text-align: left; 
}

/* Štýl pre box s obrázkom */
.cvik-obrazok {
    flex-shrink: 0; 
    text-align: center; 
}

/* Veľkosť obrázku: 140px */
.cvik-obrazok img {
    width: 175px; 
    height: auto;
    display: block; 
    border-radius: 5px; 
    background-color: #1a1a1a; 
    margin-top: 5px; 
}

/* Názov cviku nad obrázkom */
.nazov-cviku-obrazok {
    font-weight: bold;
    color: #f7c331; 
    margin: 0;
    font-size: 1.1em;
}


/* --- PRAVIDLO PRE JEDNOTNÉ ZAROVNANIE (Obrázok VĽAVO, Text VPRAVO) --- */
.cvik-container.jednotne-zarovnanie {
    /* Predvolené zarovnanie: Obrázok vľavo, Text vpravo */
    flex-direction: row; 
}

/* Staré pravidlá pre .odd a .even boli odstránené. */


/* NOVÝ ŠTÝL pre zobrazenie váhy */
.vysledok-staticky {
    margin-top: 8px;
    background: #444444; 
    color: #cccccc; 
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    color: #f0c14b; 
    display: flex;
    /* Zarovnanie odporúčanej váhy doľava */
    justify-content: flex-start; 
    align-items: center;
    gap: 8px;
    font-size: 1em;
}

.vysledok-staticky strong {
    color: white; 
} vpis to rovno do kodu

